body
{
    min-height: 800px;
    background-color: rgb(51, 210, 80, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Name
{
    color:rgb(0, 235, 188, 1);
    font-family: "Righteous", "Comic Sans";
    font-size: 85px;
    font-weight: 400;
    margin: 40px
}

.user, .pass {
    background-color: rgba(0, 235, 188, 0.6);
    width: 440px;
    height: 70px;
    border-radius: 20px;
    border: none;
    margin: 13px;
    /* color: rgb(252, 252, 252); */
    text-indent: 65px;
}

input {
    font-size: 20px;
    color: rgb(255, 255, 255);

}

.ui
{
    color: rgb(252, 252, 252);
    font-size: 35px;
    position: absolute;
    margin-left: 25px;
    top: 435px;
    
}

.up 
{
    color: rgb(252, 252, 252);
    font-size: 35px;
    position: absolute;
    margin-left: 25px;
    top: 531px;
}

::placeholder {
    opacity: 0.5;
    font-size: 27px;
    font-family: "Inika", "Comic Sans";
}

.btn
{
    background-color: rgb(0, 235, 188, 1);
    color: rgb(252, 252, 252);
    font-family: "Righteous", "Comic Sans";
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 20px;
    width: 150px;
    height: 35px;
    font-size: 27px;
    padding-top: 5px;
    padding-bottom: 40px;
    top: 620px;
}
.btn:active
{
    background-color: aqua;
    transform: translateY(4px);
}

.bottom-text
{
    color: rgb(252, 252, 252);
    font-size: 15px;
    position: absolute;
    top: 710px;
}
.sign
{
    color: rgb(252, 252, 252);

}
.fp
{
    color: rgb(252, 252, 252);
    font-size: 15px;
    position: absolute;
    top: 600px;
    margin-left: 336px;

}